<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleCalc-iOS Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CED6EC3C1BD83CF600A5E81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED6EC501BD83CF600A5E81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED6EC5B1BD83CF600A5E81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
